/* root */
:root {
  --cor01: #ffffff;
  --cor02: #000000;
  --cor-gradiente: linear-gradient(to right, #AA0608, #E82626);
  --cor03: #AA0608;
  --cor04: #E82626;
  --cor05: #FF5858;
  --cor06: #B1AEAE;
}

/* header */
.header {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--cor-gradiente);
  padding: 10px 20px;
}

/* espaçamento do input-group */
.mb-3 {
  margin-bottom: 0 !important; /* zerei aqui para o header não ficar alto demais */
}

/* campo de busca */
.form-control {
  background-color: var(--cor01);
}

/* botão da busca */
.input-group .btn {
  background-color: var(--cor01);
  border: none;
}

.input-group .btn:hover {
  background-color: var(--cor02);
  color: var(--cor01);
}

/* ícones */
.bi-funnel,
.bi-person-circle {
  font-size: 30px;
  color: var(--cor01);
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  right: 10px !important;
  
}

/*  Geral  */
body {
    background-color: #f8f9fa; /* fundo claro neutro */
    font-family: Arial, sans-serif;
    color: #000000;
  }
  /*  Formulário */
  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
.form-container input{
  margin-bottom: 10px;
}

  .form-control, .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #B1AEAE;
    transition: border-color 0.2s;
    
  }
  .form-control:focus, .form-select:focus {
    border-color: #E82626;
    box-shadow: 0 0 0 0.2rem rgba(232,38,38,0.25);
  }
  
  /*  Botões  */
  .btn-primary {
    background-color: #E82626;
    border-color: #E82626;
  }
  .btn-primary:hover {
    background-color: #AA0608;
    border-color: #AA0608;
  }
  
  .btn-secondary {
    background-color: #B1AEAE;
    border-color: #B1AEAE;
    color: #000;
  }
  .btn-secondary:hover {
    background-color: #FF5858;
    border-color: #FF5858;
    color: #fff;
  }
  