
/* container central */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-vermelho-escuroforte); /* vermelho */
    padding: 12px 20px;
    box-shadow: 0 4px 10px var(--cor-vermelho-padrao);
}

.header h1 {
    color: var(--cor-fundo-branco);
    font-weight: bold;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}

/* ícone */
.bi-person-circle {
  font-size: 5rem;
  margin-bottom: 20px;
  color: var(--cor-vermelho-escuroforte);
  display: flex;
  justify-content: center;
}



main{
  margin-top: 50px;
}

/* área do formulário */
.form-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background: var(--cor-fundo-branco);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* inputs */
.form-control {
  border: 2px solid var(--cor-branco-padrao);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s;
}

.form-control:focus {
  border-color: var(--cor-vermelho-escuroforte);
  box-shadow: 0 0 6px rgba(170, 6, 8, 0.4);
  outline: none;
}

/* botões */
.btn {
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--cor-vermelho-escuro);
  border: none;
}

.btn-primary:hover {
  background-color: var(--cor-vermelho-escuroforte);
}

.btn-secondary {
  background-color: var(--cor-vermelho-escuro);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--cor-vermelho-escuroforte);
}

/* feedback inválido */
.invalid-feedback {
  font-size: 0.9rem;
  color: var(--cor-vermelho-escuroforte);
}