@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  
  :root {
    --cor-fundo-branco: #ffffff;
    --cor-fundo-preto: #000000;
    --cor-gradiente-header: linear-gradient(to right, #AA0608, #FF5858);
    --cor-vermelho-escuroforte: #AA0608;
    --cor-vermelho-escuro: #E82626;
    --cor-vermelho-padrao: #FF5858;
    --cor-cinza-padrao: #B1AEAE;
    --cor-cinza-hover: #747272;
    --cor-branco-padrao: #E5E5E5;
    --cor-verde-confirmacao: #038509;
    --cor-verde-confirmacao-hover: #025806;
  }
  
*{
font-family: "Montserrat", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}