.header__ {
  width: 100%;
  height: 80px;
  background: var(--cor-gradiente-header);
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  } 

.icone__atalho{
  width: 60px; 
  height: 60px; 
  object-fit: contain;
}  

.header h1 {
  color:  var(--cor-fundo-branco);
  font-weight: bold;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  width: 10%;
  padding: 12px;
}

.titulo__Login{
  margin: 0;
  margin-top: 5px;
}

.text-center{
  text-align: center !important;
  display: flex;
  gap: 20px;
}

/* Centralização do card login */
.login-container {
  min-height: calc(100vh - 70px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card de login */
.card {
  width: 100%;
  max-width: 420px;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  background: var(--cor-fundo-branco);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

/* cabeçalho */
.card h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--cor-vermelho-escuroforte);
  margin-bottom: 20px;
}

/* label */
.form-label {
  font-weight: 600;
  color: #333;
}

/* inputs */
.form-control {
  border: 2px solid var(--cor-branco-padrao);
  border-radius: 8px;
  padding: 10px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s;
}
.form-control:focus {
  border-color: var(--cor-vermelho-escuroforte);
  box-shadow: 0 0 6px rgba(170, 6, 8, 0.4);
  outline: none;
}

/* botões */
.btn {
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 16px;
  transition: all 0.3s ease-in-out;
}

/* login */
.btn-primary {
  background-color: var(--cor-vermelho-escuro);
  border-color: var(--cor-vermelho-escuroforte);
  border: none;
}
.btn-primary:hover {
  background-color: var(--cor-vermelho-escuroforte);
}

/* voltar */
.btn-secondary {
  background-color: var(--cor-vermelho-escuro);
  border: none;
}
.btn-secondary:hover {
  background-color: var(--cor-vermelho-escuroforte);
}

/* cadastro */
.btn-outline-success {
  border: 2px solid var(--cor-vermelho-escuroforte);
  color: var(--cor-vermelho-escuroforte);
}
.btn-outline-success:hover {
  background-color: var(--cor-vermelho-escuroforte);
  color: var(--cor-branco-padrao);
}

/* feedback inválido */
.invalid-feedback {
  font-size: 0.9rem;
  color: var(--cor-vermelho-escuroforte);
}



.text-center.mt-3 a {
  color: var(--cor-vermelho-escuro); /* Cor primária do link */
  font-weight: 600;                  /* Dá um leve destaque à fonte */
  transition: all 0.3s ease-in-out;  /* Transição suave para o hover */
}

/* Efeito de hover para o link */
.text-center.mt-3 a:hover {
  color: var(--cor-vermelho-escuroforte); /* Escurece a cor no hover */
  
}
