/* root */
:root {
    --cor01: #ffffff;
    --cor02: #000000;
    --cor-gradiente: linear-gradient(to right, #AA0608, #E82626);
    --cor03: #AA0608;
    --cor04: #E82626;
    --cor05: #FF5858;
    --cor06: #B1AEAE;
  }

/* header */
.header{
    width: 100%;
    height: auto;
    display: flex;
    background: var(--cor-gradiente)
}

.mb-3 {
    margin-bottom: 1rem !important;
    width: 400px;
    padding: 20px;
    top: 10px;
}

.form-control{
    background-color: var(--cor01);
}

.input-group .btn {
    background-color: var(--cor01);
}

.input-group .btn:hover {
    background-color: var(--cor02);
}

.bi-funnel{
    font-size: 40px;
    position: relative;
    left: 1340px;
    top: 15px;
    color: var(--cor01);
}

.bi-person-circle{
    font-size: 55px;
    color: var(--cor01);
    position: relative;
    left: 1370px;
    top: 3px;
}

/* body */
