  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-branco-padrao); 
  }
  
  /* card principal */
  .container {
    background-color: var(--cor-fundo-branco); 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Define uma largura máxima para o formulário */
    max-width: 450px; 
    /* Garante que ocupe a largura em telas menores */
    width: 90%; 
  }
  
  .titulo {
    font-size: 26px;
    font-weight: bold;
    color: var(--cor-vermelho-escuroforte); 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .icone {
    font-size: 24px;
  }
  

  /* Efeito de foco (hover) no input */
  .campo-codigo:focus {
    outline: none;
    border-color: var(--cor-vermelho-escuro); 
    box-shadow: 0 0 0 4px rgba(232, 38, 38, 0.15); 
  }
  

  .botoes {
    display: flex;
    gap: 15px; 
  }
  
  /* Garante que o link <a> ocupe espaço */
  .botoes a {
    flex: 1; /* Ocupa metade do espaço */
  }
  

  .btn {
    display: inline-block;
    width: 100%; /* Faz o botão ocupar todo o espaço do container-pai */
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    text-decoration: none; 
    transition: all 0.2s ease-in-out;
  }
  
  
  .btn.enviar {
    background-color: var(--cor-vermelho-escuro); 
    color: var(--cor-fundo-branco);
    border-color: var(--cor-vermelho-escuro);
    flex: 1; /* Ocupa metade do espaço */
  }
  
  .btn.enviar:hover {
    background-color: var(--cor-vermelho-escuroforte);
    border-color: var(--cor-vermelho-escuroforte);
    transform: translateY(-2px);
  }
  
 
  .btn.voltar {
    background-color: var(--cor-fundo-branco); 
    color: var(--cor-cinza-padrao);
    border-color: var(--cor-cinza-padrao); 
  }
  
  .btn.voltar:hover {
    background-color: var(--cor-branco-padrao); 
    color: var(--cor-fundo-preto); 
    border-color: var(--cor-branco-padrao);
  }

  
.campo-codigo {
    width: 100%;
    border: 1px solid var(--cor-cinza-padrao); 
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
    
    /* Estilos específicos para o campo de código */
    font-size: 2rem; 
    text-align: center;
    letter-spacing: 8px; 
    font-weight: bold;
    color: var(--cor-fundo-preto);
  
    /* Deixaa a senha com bolinha */
    -webkit-text-security: disc;
  }

/* Para o span */
.form-text {
  font-style: italic;
  margin-top: 20px; /* Aumenta o espaço entre o botão e o texto */
  color: var(--cor-cinza-padrao); /* Se desejar mudar a cor do texto */
}

/* Adicionando um pequeno espaçamento no botão "Enviar" */
.botoes {
  display: flex;
  gap: 15px; /* Espaçamento entre os botões */
  margin-bottom: 30px; /* Espaçamento entre os botões e o input */
}

