<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link do CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        <!-- Link do JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous" defer></script>

        <!-- Link dos icones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Link do Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

    <script src="/static/js/script.js" defer></script>

    <!-- Link do arquivo CSS -->
     <link rel="stylesheet" href="/static/css/tela_inicial.css">

    <title>Portifólio dos TCC's</title>
    
</head>

<body>
    <header class="header__ bg-light p-2">
        <!-- container-fluid e row →  dividi os elementos em colunas. -->
        <div class="container-fluid">
          <div class="row align-items-center">
            
            <!-- Campo de pesquisa  -->
             <!-- busca ocupa mais espaço no mobile. -->
            <div class="col-8 col-md-6">
                <form action="/pesquisar" method="GET">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="titulo" placeholder="Pesquisar TCC" required>
                      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        <i class="bi bi-search"></i>
                      </button>
                    </div>
                  </form>
            </div>
      
            {% if session.usuario %}
            <span class="header__user">Olá, {{session.nome_usuario}}</span>
            {% endif %}

            <!-- Ícones  -->
             <!-- ícones ocupam menos espaço e ficam alinhados à direita. -->
              <!-- isso força ícone filtro + ícone perfil a ficarem lado a lado, alinhados verticalmente e com espaço (gap-3) entre eles. -->
            <div class="col-4 col-md-6 d-flex justify-content-end align-items-center gap-3">
                <!-- Dropdown do filtro -->
                <div class="dropdown">
                   <i class="bi bi-funnel fs-3 text-white" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Página Inicial</a></li>
                        <li><a class="dropdown-item" href="/tccs_por_data">Ano</a></li>
                    </ul>
                </div>
                
                <!-- Dropdown do login/perfil -->
                <div class="dropdown">
                    <button class="btn rounded-circle" id="dropdownLogin" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle fs-3 text-white"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                        {% if session.usuario %} 
                        <li><a class="dropdown-item" href="/deslogar">Sair</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/paginalogin">Entrar</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
      
          </div>
        </div>
      </header>
      
    <!-- body da página -->
    <main class="info_ _principal">
        
        <section class="sec__destaques">
            <div class="tittle__destaque">
                <h2>Destaques</h2>
            </div>
            
            <div class="grid__destaque">
                <div class="card__destaque"></div>
                <div class="card__destaque"></div>
            </div>
              
        </section>

        <section class="sec__recentes">
            <div class="tittle__recentes">
                <h2>Recentes</h2>
            </div>

            <div class="grid__recentes">
                <div class="card__recentes">
                    <!-- texto dos cards - informações dos TCC's -->
                    <p></p>
                
                    <!-- Dropdown três pontinhos -->
                    <div class="dropdown card-dropdown">
                        <span class="bi bi-three-dots-vertical" role="button" id="dropdownCardMenu" data-bs-toggle="dropdown" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownCardMenu">
                            <li><a class="dropdown-item" href="#">Editar</a></li>
                            <li><a class="dropdown-item" href="#" id="btn__excluir">Excluir</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </section>

        <!-- Botão flutuante "+" -->
        {% if session.usuario %}
        <div class="add__tcc dropdown__add">
            <i class="bi bi-plus-circle fs-1" role="button" id="dropdownAddButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAddButton">
                <li><a class="dropdown-item" href="/paginacadastrotcc">Adicionar TCC</a></li>
                <li><a class="dropdown-item" href="/paginaorientadorcurso">Adicionar Orientador e Curso</a></li>
            </ul>
        </div>
        {% endif %}


    </main>
</body>

</html>