<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icone da -->
    <link rel="icon" type="image/png" href="/static/img/icon__book.png">

    <!-- link do CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        xintegrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

        <!-- Link do JavaScript -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            xintegrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous" defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js" defer></script> 
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
            <script src="/static/js/vizualizacao-tcc.js" defer></script>
            <script src="/static/js/mensagem_usuario.js" defer> </script>

        <!-- Link dos icones -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        

 
    <!-- Link do arquivo CSS -->
    <link rel="stylesheet" href="/static/css/tela_inicial.css">
    <link rel="stylesheet" href="/static/css/config.css">


    <title>BiblioTCCa</title>

</head>

<body>
    <!-- Cabeçalho -->
    <header class="header__ ">
        <div class="container-fluid">

            <div class="row align-items-center">

                <!-- Barra de pesquisa -->
                <div class="col-8 col-md-6">
                    <form class="d-flex align-items-center form__pesquisa" action="/pesquisar" method="GET">

                        <!-- Ícone de atalho com link -->
                        <a href="/paginainicial" class=" icone__atalho me-2 d-flex align-items-center">
                            <img src="/static/img/icon__atalho.png" alt="icone-atalho-biblioteca" class="img-fluid">
                        </a>
                        <div class="input-group">
                            <input type="text" id="pesquisa_palavra_chave" name="pesquisa_palavra_chave"
                                class="form-control" placeholder="Título, Autor ou Palavra-Chave" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>


                <!-- Boas vindas ao usuário -->
                <div
                    class="col-4 col-md-6 d-flex justify-content-end align-items-center gap-3 container__filter__login">
                    {% if session.usuario %}
                    <div class="row ">
                        <div class="col-12">
                            <span class="header__user">Olá, {{session.nome_usuario}}</span>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Cadastro login -->
                    <div class="dropdown ">
                        <!-- Se o usuário estiver logado, ele aparace (icone) indicando para sair/deslogar -->
                        {% if session.usuario %}
                        <a href="/deslogar">
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                        <!-- Se o usuário não estiver logado, ele (icone) aparece para a opção de fazer login-->
                        {% else %}
                        <a href="/paginalogin" class="btn rounded-circle" id="dropdownLogin">
                            <i class="bi bi-person-circle fs-3 text-white"></i>
                        </a>
                        {% endif %}

                    </div>

                    <!-- Filtros -->
                    <div class="dropdown">
                        <i class="bi bi-list" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/tccs_por_data">Mais Antigos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </header>

    <!-- Seção principal da página -->
    <main class="info_ _principal">

        <figure class="logo">
            <img src="../static/img/BiblioTCCa.png" alt="logoBibliotcca">
        </figure>

        <!-- Seção DESTAQUES -->
        {% if destaques %}

        <section class="sec__destaques">
            <div class="tittle">
                <h2>Destaques</h2>
            </div>

            <!-- Jinja que recebe as infos para destaques -->
            <div class="grid__destaque">
               

                {% for destaque in destaques %}
                <div onclick="viewpdf('static/pdf/{{ destaque.pdf_nome }}')" class="card__destaque btn-view-tcc">
                    <div class="card__conteudo">
                        <div class="card__header">
                            <h4 class="card__titulo">{{ destaque.titulo }}</h4>
                            <span class="card__data">{{ destaque.data_formatada_br }}</span>
                        </div>
                        <p class="card__descricao">
                            {{ destaque.descricao }}
                        </p>
                        <p class="card__autores">
                            <strong>Autores:</strong> {{ destaque.autor }}
                        </p>
                        <p class="card__autores">
                            <strong>Curso:</strong> {{ destaque.nome_curso }}
                        </p>
                        <p class="card__autores">
                            <strong>Professores:</strong> {{ destaque.orientadores }}
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                
            {% endif %}
            </div>
        </section>

        <!-- seção RECENTES -->
        <section class="sec__recentes">
            <div class="tittle">
                <h2>TCC's</h2>
            </div>

            <!-- Se tiver documentos disponíveis -->
            {% if tccs %}
            {% for tcc in tccs %}
            <div class="container__func_tccs">

                <div class="grid__recentes">
                    <div onclick='viewpdf("static/pdf/{{tcc.pdf_nome}}")' class="card__recentes btn-view-tcc">
                        <div class="icone__tcc">
                            <i class="bi bi-file-text"></i>
                        </div>
                        <div class="card__conteudo">
                            <div class="card__header">
                                <h4 class="card__titulo">{{tcc.titulo}}</h4>
                                <span class="card__data">{{tcc.data_formatada_br}}</span>
                            </div>
                            <p class="card__descricao">
                                {{tcc.descricao}}
                            </p>
                            <p class="card__autores">
                                <strong>Autores:</strong> {{tcc.autor}}
                            </p>
                            <p class="card__autores">
                                <strong>Curso:</strong> {{tcc.nome_curso}}
                            </p>
                            <p class="card__autores">
                                <strong>Professores:</strong> {{tcc.orientadores}}
                            </p>

                        </div>

                    </div>
                    <div class="tcc_view">
                        <button class="btn-close"><i class="bi bi-x"></i></button>
                        <div class="view-pdf">
                            <div class="tcc-renderer">
                            </div>
                            <div class="no-copy-overlay">
                            </div>
                        </div>
                    </div>
                </div>



                        {% if session.usuario %}
                        <div class="card__actions">
                            <button type="button" class="btn__excluir" onclick="confirmarExclusao({{ tcc.codigo }})">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                        {% endif %}

            </div>
            {% endfor %}
            <!-- Se não tiver documentos disponíveis -->
            {% else %}
              <p class="text-center-flex w-100 p-4">
                Não há documentos disponíveis.
            </p>
            {% endif %}
        </section>

        <!-- Botão flutuante "+" -->
        {% if session.usuario %}
        <div class="add__tcc dropdown__add">
            <i class="bi bi-plus-circle fs-1" role="button" id="dropdownAddButton" data-bs-toggle="dropdown"
                aria-expanded="false"></i>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAddButton">
                <li><a class="dropdown-item" href="/paginacadastrotcc">Adicionar TCC</a></li>
                <li><a class="dropdown-item" href="/paginaorientadorcurso">Adicionar Orientador e Curso</a></li>
                <li><a class="dropdown-item" href="/paginahistorico">Histórico</a></li>
            </ul>
        </div>
        {% endif %}

    </main>
</body>

</html>