<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digite o Código</title>
  <link rel="stylesheet" href="/static/css/verificacao.css">
  <link rel="stylesheet" href="/static/css/config.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container">
    <!--  Form para o código -->
    <form action="/post/verificarcodigo" method="post">
    <h1 class="titulo">
      Digite o Código
      <i class="bi bi-lock-fill icone"></i>
    </h1>

    <!-- Input para digitar o codigo -->
    <input type="text" class="campo-codigo" name="codigo" placeholder="">

    <!-- Botões enviar e voltar -->
    <div class="botoes">
      <a href="/paginalogin"><button class="btn voltar" type="button">Voltar</button></a>
      <button class="btn enviar" type="submit">Enviar</button>
    </div>
    </form>
  </div>
</body>
</html>